* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    
    
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #313131;
}

header img {
    height: 64px;
    margin-left: 24px;
}

body{
    background-color: rgba(124, 245, 68, 0.336);
    padding: 100px;
    font-family: "Roboto", sans-serif;
}

form{
    display: flex;
    margin-bottom: 24px;
    max-width: 640px;
    max-width: 100%;
    
        
}

form input,
button {
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

form button {
    margin-left: 24px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #313131;
    border: none;
    
}

form button:hover {
    background-color: #5e5d5d;
}

ol {
    list-style-position: inside;
}

ol li {
    max-width: 640px;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    
    
}

ol li:hover {
    cursor: pointer
}

.isTaxado {
    text-decoration: line-through;
}

.isNotTaxado {
    text-decoration: none;
}